---
import { marked } from "marked";
import Section from "./Section.astro";

export interface Props {
  markdown: string;
}

const { markdown } = Astro.props;

const renderer = {
  heading(text, level) {

    return `<h${level} class="font-skautbold text-3xl mb-4">
              ${text}
            </h${level}>`;
  },
  paragraph(text) {
    return `<p class="max-w-lg mb-4 leading-8 text-center">
              ${text}
            </p>`
  }
};

marked.use({ renderer });

const content = marked.parse(markdown);

console.log(content);
---

<Section>
  <div class="w-full flex flex-col items-center" set:html={content}/>
</Section>
