---
import Contact from "../components/Cards/Contact";
import FlexWrapper from "../components/Cards/FlexWrapper";
import Section from "../components/Section";
import { h1_cards_section } from "../components/typography";
import { type StrapiImage } from "../customTypes";

export interface Props {
  id?: string;
  heading?: string;
  buttons?: {
    text: string;
    url: string;
  }[];
  data: {
    Funkce: string;
    vedouci: {
      data: {
        attributes: {
          Jmeno: string;
          Telefon: string;
          Email: string;
          Fotka: StrapiImage;
        };
      };
    };
  }[];
}

const id = Astro.props.id;
const data = Astro.props.data;
const heading = Astro.props.heading;
const buttons = Astro.props.buttons;
---

{
  data.length > 0 && (
    <Section id={id} buttons={buttons}>
      <h1 class={h1_cards_section}>{heading ? heading : "Kontakty"}</h1>
      <FlexWrapper>
        {data.map((x) => (
          <Contact
            Jmeno={x.vedouci.data.attributes.Jmeno}
            Funkce={x.Funkce}
            Telefon={x.vedouci.data.attributes.Telefon}
            Email={x.vedouci.data.attributes.Email}
            Obrazek={x.vedouci.data.attributes.Fotka}
          />
        ))}
      </FlexWrapper>
    </Section>
  )
}
