---
import FlexWrapper from "../components/Cards/FlexWrapper";
import Unit from "../components/Cards/Unit/Unit.astro";
import UnitInfo from "../components/Cards/Unit/UnitInfo.astro";
import Section from "../components/Section";
import { h1_cards_section } from "../components/typography";
import { StrapiImage } from "../customTypes";

export interface Props {
  oddilUrl?: string;
  data: {
    data: {
      attributes: {
        Nazev: string;
        Typ: string;
        Url: string;
        Obrazek: StrapiImage;
        druziny?: {
          data: {
            attributes: {
              Nazev: string;
            };
          }[];
        };
      };
    }[];
  };
}

const data = Astro.props.data;
const oddil = Astro.props.oddilUrl;
---

{
  data.data.length > 0 && (
    <Section>
      <h1 class={h1_cards_section}>Naše {oddil ? "Družiny" : "Oddíly"}</h1>
      <FlexWrapper>
        {data.data.map((x) => (
          <Unit
            Nazev={x.attributes.Nazev}
            Typ={x.attributes.Typ}
            Url={"/" + (oddil ? oddil + "/" : "") + x.attributes.Url}
            Obrazek={x.attributes.Obrazek}
          >
            {x.attributes.druziny &&
              x.attributes.druziny.data.map((y) => (
                <UnitInfo text={y.attributes.Nazev} />
              ))}
          </Unit>
        ))}
      </FlexWrapper>
    </Section>
  )
}
