---
import MarkdownDescription from "../components/MarkdownDescription.astro";
import StrapiPicture from "../components/StrapiPicture.astro";
import Layout from "../layouts/Layout.astro";
import ClubHouse from "../sections/ClubHouses";
import Contacts from "../sections/Contacts.astro";
import News from "../sections/News";
import Sponsors from "../sections/Sponsors.astro";
import Units from "../sections/Units.astro";
import GqlQuery from "../graphql/index.gql?raw";

const response = await fetch(import.meta.env.PUBLIC_STRAPI + "/graphql", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: GqlQuery,
  }),
});

const Json = await response.json();
const data = Json.data;

const novinkyResponse = await fetch(
  import.meta.env.PUBLIC_STRAPI + "/graphql",
  {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      query: `
      {
        novinky(filters: { oddil: { id: { eq: null } } }, pagination: { limit: 3 }, sort: "publishedAt:desc") {
          data {
            attributes {
              Nazev
              Url
              Popis
              Obrazek {
                data {
                  attributes {
                    url
                    formats
                  }
                }
              }
            }
          }
        }
        ${data.uvodniStranka.data.attributes.oddily.data.map(
          (x) => `
        _${x.id}: novinky(filters: { oddil: { id: { eq: ${x.id} } } }, pagination: { limit: 3 }, sort: "publishedAt:desc") {
          data {
            attributes {
              Nazev
              Url
              Popis
              Obrazek {
                data {
                  attributes {
                    url
                    formats
                  }
                }
              }
            }
          }
        }  
        `
        )}
      }
      `,
    }),
  }
);

const novinkyJson = await novinkyResponse.json();
const novinkyData = novinkyJson.data;

const novinky = { Středisko: novinkyData["novinky"] };

Object.keys(novinkyData).map((x) => {
  if (x === "novinky") return;
  const oddil = data.uvodniStranka.data.attributes.oddily.data.find(
    (y) => y.id === x.split("_")[1]
  ).attributes.Nazev;
  novinky[oddil] = novinkyData[x];
});

const description = `Jsme skautské středisko ${
  data.stredisko.data.attributes.Nazev
}. Máme ${
  data.uvodniStranka.data.attributes.oddily.data.length
} oddíly a ${data.uvodniStranka.data.attributes.oddily.data.reduce(
  (acu, cur) => acu + cur.attributes.druziny.data.length,
  0
)} družinek. Vedoucí střediska je ${
  data.uvodniStranka.data.attributes.Kontakty[0].vedouci.data.attributes.Jmeno
}. Kontaktní email je ${data.stredisko.data.attributes.Email}`;
---

<Layout topPadding="no">
  <meta name="description" content={description} slot="head" />

  <meta
    property="og:title"
    content={`Skautské středisko ${data.stredisko.data.attributes.Nazev}`}
    slot="head"
  />
  <meta property="og:type" content="website" slot="head">
  <meta property="og:url" content={import.meta.env.PUBLIC_URL} slot="head" />
  <meta property="og:description" content={description} slot="head">
  <meta
    property="og:image"
    content={import.meta.env.PUBLIC_STRAPI +
      data.uvodniStranka.data.attributes.SocialMediaObrazek.data.attributes.url}
    slot="head"
  />

  <div slot="outside" class="min-h-full w-full relative mb-24">
    <StrapiPicture
      image={data.uvodniStranka.data.attributes.Obrazek}
      className="max-w-[100vw] w-[96rem] absolute left-1/2 -translate-x-1/2 h-full object-cover md:px-10"
    />
    <h1
      class="font-skautbold lg:text-6xl md:text-5xl text-4xl text-white absolute top-1/2 left-1/2 -translate-x-1/2 text-center w-full"
    >
      {data.uvodniStranka.data.attributes.Slogan}
    </h1>
    <div
      class="w-max flex items-center absolute left-1/2 bottom-8 -translate-x-1/2"
    >
      <img src="/ikony/sipka-dolu.svg" alt="šipka dolů" class="mr-4 h-8 w-8" />
      <p class="font-bold text-white text-lg">Posuňtě dolů</p>
    </div>
  </div>
  <MarkdownDescription markdown={data.uvodniStranka.data.attributes.Popis} />
  <Units data={data.uvodniStranka.data.attributes.oddily} />
  <News client:idle data={novinky} />
  <Contacts data={data.uvodniStranka.data.attributes.Kontakty} />
  <ClubHouse client:idle data={data.uvodniStranka.data.attributes.Klubovny} />
  <Sponsors data={data.uvodniStranka.data.attributes.Sponzori} />
</Layout>
