---
import Contact from "../components/Cards/Contact/Contact.astro";
import FlexWrapper from "../components/Cards/FlexWrapper";
import Unit from "../components/Cards/Unit/Unit.astro";
import UnitInfo from "../components/Cards/Unit/UnitInfo.astro";
import MarkdownDescription from "../components/MarkdownDescription.astro";
import Section from "../components/Section";
import StrapiPicture from "../components/StrapiPicture.astro";
import { h1_cards_section } from "../components/typography";
import Layout from "../layouts/Layout.astro";
import NewsWithSwitchMenu from "../sections/NewsWithSwitchMenu";

const response = await fetch("https://strapi.nashuro.cz/graphql", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
	  {
  		uvodniStranka {
    		data {
      			attributes {
        			Obrazek {
          				data {
            				attributes {
              					url
              					alternativeText
              					formats
            				}
          				}
        			}
        			Slogan
					    Popis
              oddily {
                data {
                  id
                  attributes {
                    Obrazek {
                      data {
                        attributes {
                          url
                          alternativeText
                          formats
                        }
                      }
                    }
                    Nazev
                    Url
                    Typ
                    druziny {
                      data {
                        attributes {
                          Nazev
                        }
                      }
                    }
                  }
                }
              }
              Kontakty {
                Funkce
                vedouci {
                  data {
                    attributes {
                      Jmeno
                      Telefon
                      Email
                      Fotka {
                        data {
                          attributes {
                            url
                            formats
                          }
                        }
                      }
                    }
                  }
                }
              }
              Sponzori {
                Nazev
                Odkaz
                Obrazek {
                  data {
                    attributes {
                      url
                      formats
                    }
                  }
                }
              }
      			}
    		  }
  		  }
	    }
      `,
  }),
});

const Json = await response.json();
const data = Json.data;

const novinkyResponse = await fetch("https://strapi.nashuro.cz/graphql", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        novinky(filters: { oddil: { id: { eq: null } } }) {
          data {
            attributes {
              Nazev
              Url
              Popis
              Obrazek {
                data {
                  attributes {
                    url
                    formats
                  }
                }
              }
            }
          }
        }
        ${data.uvodniStranka.data.attributes.oddily.data.map((x) => `
        _${x.id}: novinky(filters: { oddil: { id: { eq: ${x.id} } } }) {
          data {
            attributes {
              Nazev
              Url
              Popis
              Obrazek {
                data {
                  attributes {
                    url
                    formats
                  }
                }
              }
            }
          }
        }  
        `)}
      }
      `,
  }),
});

const novinkyJson = await novinkyResponse.json();
const novinkyData = novinkyJson.data;

const novinky = {"Středisko": novinkyData["novinky"]};

Object.keys(novinkyData).map(x => {
  if(x === "novinky") return;
  const oddil = data.uvodniStranka.data.attributes.oddily.data.find(y => y.id === x.split("_")[1]).attributes.Nazev;
  novinky[oddil] = novinkyData[x];
})
---

<Layout noTopPadding>
  <div slot="outside" class="min-h-full w-full relative mb-24">
    <StrapiPicture
      image={data.uvodniStranka.data.attributes.Obrazek}
      className="max-w-[100vw] w-[96rem] absolute left-1/2 -translate-x-1/2 h-full object-cover md:px-10"
    />
    <h1
      class="font-skautbold lg:text-6xl md:text-5xl text-4xl text-white absolute top-1/2 left-1/2 -translate-x-1/2 text-center w-full"
    >
      {data.uvodniStranka.data.attributes.Slogan}
    </h1>
    <div
      class="w-max flex items-center absolute left-1/2 bottom-8 -translate-x-1/2"
    >
      <img src="/ikony/sipka-dolu.svg" alt="šipka dolů" class="mr-4 h-8 w-8" />
      <p class="font-bold text-white text-lg">Posuňtě dolů</p>
    </div>
  </div>
  <MarkdownDescription markdown={data.uvodniStranka.data.attributes.Popis} />
  <Section>
    <h1 class={h1_cards_section}>Naše oddíly</h1>
    <FlexWrapper>
      {
        data.uvodniStranka.data.attributes.oddily.data.map((x) => (
          <Unit
            Nazev={x.attributes.Nazev}
            Typ={x.attributes.Typ}
            Url={x.attributes.Url}
            Obrazek={x.attributes.Obrazek}
          >
            {x.attributes.druziny.data.map((y) => (
              <UnitInfo text={y.attributes.Nazev} />
            ))}
          </Unit>
        ))
      }
    </FlexWrapper>
  </Section>
  <NewsWithSwitchMenu client:idle data={novinky} />
  <Section button="Všechny Kontakty" url="/kontakty">
    <h1 class={h1_cards_section}>Kontakty</h1>
    <FlexWrapper>
      {
        data.uvodniStranka.data.attributes.Kontakty.map((x) => (
          <Contact
            Jmeno={x.vedouci.data.attributes.Jmeno}
            Funkce={x.Funkce}
            Telefon={x.vedouci.data.attributes.Telefon}
            Email={x.vedouci.data.attributes.Email}
            Obrazek={x.vedouci.data.attributes.Fotka}
          />
        ))
      }
    </FlexWrapper>
  </Section>
  <Section>
    <h1 class={h1_cards_section}>Naši sponzoři</h1>
    <FlexWrapper>
      {
        data.uvodniStranka.data.attributes.Sponzori.map((x) => (
          <a href={x.Odkaz} target="_blank" class="sm:mr-8 sm:mb-0 mb-8 last:m-0">
            <img
              loading="lazy"
              src={import.meta.env.STRAPI + x.Obrazek.data.attributes.url}
              alt={x.Nazev}
              class="w-60 h-24 object-contain"
            />
          </a>
        ))
      }
    </FlexWrapper>
  </Section>
</Layout>
